<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/input_type_upload_file.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/input_type_text.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="unselectable">
    <div class="search_container">
            <input
              type="text"
              class="search_input"
              placeholder="Type YouTube video Link here..."
            />
            <button type="submit" class="search_button">
              <i class="material-icons" id="search_icon">search</i>
            </button>
    </div>

    <form action="/" method="POST" enctype="multipart/form-data" id="upload">
        <div class="drag-area" id="get-file" id="upload-form">
            <img id="file-icon" src="{{ url_for('static', filename = 'svg/upload.svg') }}" />
            <header>Drag & Drop to Upload File</header>
            <span class="hideable">OR</span>
            <button class="hideable">Browse File</button>
            <input type="file" name="file-upload" id="upload-it" hidden>
        </div>
    </form>

    <script src="{{ url_for('static', filename = 'js/input_file_feature.js') }}"></script>

</body>

</html>